* {
  font-family: sans-serif;
  font-stretch: condensed;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
  font-weight: lighter;
  margin-top: 0;
}

h4 {
  font-size: 30px ;
  font-weight: lighter;
  margin-top: 0;
}

p { 
  font-size: 20px;
}


nav{
  display: flex;
}

lh {
  margin: 1.5em 7em 0em;
  font-size: 1.5em;
  color: white;
}

ul{
  display: flex;
  margin-bottom: 0;
}

li {
  display: flex;
  align-items: end;
  margin-right: 3em;
}

a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}
 
a:hover{
  text-decoration: underline !important;
}

header { 
  background-image: url(../Assets/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.avif);
}

section {
  width: 100%;
  text-align: center;
  height: fit-content;
  padding: 50px 0;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,auto);
}


#h3_text {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#h4_text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#about_par_1 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  text-align: left;
  margin-left: 10em;
  margin-right: 2.5em;
}

#about_par_2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  text-align: left;
  margin-right: 10em;
  margin-left: 2.5em;
}

#stories {
  background-image: url(../Assets/empty-meeting-room-with-table-whiteboard_1262-3763.avif)
}

#projects, #stories {
  color: white;
}

footer { 
  background-color: rgb(88, 77, 77);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr) ;
}

#logo img, #logo p {
  display: inline;
  letter-spacing: 0.2em;
}

#logo img {
  margin-right: 1em;
}

#logo {
  grid-row: span 2;
}

#copyright {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#hello {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}